doctype html
html(lang="de-DE")
  head
    meta(chraset="utf-8")
    meta(name="viewport",content="initial-scale=1,width=device-width,height=device-height")
    meta(name="theme-color",content="#e0ff4f")
    meta(name="robots",content="noindex")
    link(rel="shortcut icon",href="/assets/img/favicon.png")
    link(rel="icon",type="image/png",href="/assets/img/favicon-32.png",sizes="32x32")
    link(rel="apple-touch-icon",sizes="180x180",href="/assets/img/apple-touch-icon.png")
    link(rel="stylesheet",href="/assets/css/app.css")
    script(src="/assets/js/app.js")
    title Veyxos – Blog
    
  body
    p Nothing Special Here
